<div class='row mb-3'>
  <button id='getWord'
    class='btn btn-dark'>Get Random Word</button>
</div>
<div class='row justify-content-md-center'>
  <input type='text'
    id='showWord'
    class='form-control'>
</div>